{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    新闻详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ new.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ new.author }}</div>
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ new.body|safe }}</p>
        </div>
    </div>
</div>

{% endblock content %}