<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 轮播图 -->
<div class="">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static2.extremevision.com.cn/lion2.0/images/about/about_me.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>关于智能边缘Lab</h4>
              <p>2018年建立「AI视觉算法平台」，定位在基建、工具与分发，向开发者提供工程化服务。目前平台已积累视觉算法80多种。已为10余个行业、近50家政企提供AI服务。</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static2.extremevision.com.cn/lion2.0/images/about/about_me.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4>关于智能边缘Lab</h4>
                <p>2018年建立「AI视觉算法平台」，定位在基建、工具与分发，向开发者提供工程化服务。目前平台已积累视觉算法80多种。已为10余个行业、近50家政企提供AI服务。</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static2.extremevision.com.cn/lion2.0/images/about/about_me.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4>关于智能边缘Lab</h4>
                <p>2018年建立「AI视觉算法平台」，定位在基建、工具与分发，向开发者提供工程化服务。目前平台已积累视觉算法80多种。已为10余个行业、近50家政企提供AI服务。</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
<div class="container">
    <h3 style="font-size: 30px;margin-top: 60px; margin-bottom:60px;text-align: center;">算法演示</h3>
    <div class="row mt-2">
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="https://extremevision.com.cn/img/anquanmao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">安全帽识别.</p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="https://extremevision.com.cn/img/anquanmao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">植物病虫害检测.</p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="https://extremevision.com.cn/img/anquanmao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">裂缝检测.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%;background-size: cover; background-image: url('https://static2.extremevision.com.cn/images/training_platform/big_guys_share.png');">
    <h3 style="font-size: 30px;margin-top: 60px; margin-bottom:60px;text-align: center;">团队成员</h3>
    <div class="container">
        <div class="row mt-2">
            <div class="col mb-4">
                <div class="media">
                    <img src="https://www.cvmart.net/imgs/photo1.png" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="media">
                    <img src="https://www.cvmart.net/imgs/photo1.png" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="media">
                    <img src="https://www.cvmart.net/imgs/photo1.png" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}