{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AI-Edge</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %} " rel="stylesheet">

  <style>
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'nano:nano_index'%}">YNU-智能边缘Lab</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nano:nano_project'%}">算法管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nano:anomaly_detection'%}">实时视频</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:9004/d/wqc48EuGz/anomaly_alert?orgId=1&from=1620251763372&to=1620273363372&viewPanel=2">告警管理</a>
          </li>
          {% if user.is_authenticated %}
              <!-- 如果用户已经登录，则显示用户名下拉框 -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="http://localhost:9004/d/wqc48EuGz/anomaly_alert?orgId=1&from=1620251763372&to=1620273363372&viewPanel=2">System</a>
              </li> -->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href='{% url "userprofile:logout" %}'>登出</a>
                  </div>
              </li>
          <!-- 如果用户未登录，则显示 “登录” -->
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'userprofile:login' %}">登入</a>
              </li>                    
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:auto">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <!-- <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')"> -->
        <!-- <div class="carousel-item active" style="background-image: url('../../static/images/index-bg1.png')"> -->
        <div class="carousel-item active" style="background-image: url('{% static 'images/index-bg5.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <p>无人机协助的特高压输电线路缺陷检测.</p>
            <p></p>
            <!-- <h3>First Slide</h3>
            <p>This is a description for the first slide.</p> -->
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <!-- <div class="carousel-item" style="background-image: url('{% static 'images/index-bg1.png' %}')">
          <div class="carousel-caption d-none d-md-block">
            <p>第五届“互联网+”全国大学生创新创业大赛参赛项目</p>
            <p>获云南省金奖，国赛铜奖。</p>
          </div>
        </div> -->
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <!-- <div class="carousel-item" style="background-image: url('https://oss.sensetime.com/20200622/845be87a5b3df8bae5308d3044fcead4.jpg')"> -->
        <!-- <div class="carousel-item" style="background-image: url('{% static 'images/index-bg6.png' %}')">   -->
          <!-- <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div> -->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">输电线缺陷检测告警系统
        <small>JetsonNano</small>
    </h1>

    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'nano:nano_index'%}">Home</a>
    </li>
    <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
    <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'images/index-bg8.png' %} " alt="">
    </div>
    <div class="col-lg-6">
        <h2>简介</h2>
        <p>近年来，由于无人机技术的发展和应用场景的多元化，利用无人机进行电力巡检成为热点研究对象，凭借无人机的移动性和便携性有望实现安全、高效、且智能的输电线巡检。        </p>
        <p>本文的主要进行了两项工作，一、提出使用最新的Yolov5目标检测算法进行输电线缺陷检测，在未公开的输电线数据集自主训练Yolov5模型，将其部署在Jetson Nano中，搭载在无人机处进行测试，实现50毫秒/帧的检测速度和92%的准确率。二、设计并实现机载Jetson Nano与服务器交互的告警消息推送机制，进而开发输电线缺陷检测告警系统，系统配备直观的告警可视化界面，支持离线检测和在线检测。</p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p> -->
    </div>
    </div>

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>关键词：电力巡检，缺陷检测，Jetson Nano，无人机，Yolov5，智能系统</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="http://www.sei.ynu.edu.cn/index.htm">学院官网</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; https://ccy.icu 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

</body>

</html>
