<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand text-dark" href="{% url 'nano:nano_index' %} ">智能边缘lab</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="/" class="nav-link text-dark">Jetson Nano</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">裂缝检测</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">相关资料</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

